1 Sistema de Recolha de Dados/NodeRed/CollectData_MainFlow.json
[{"id":"4f08c7ab.f0df68","type":"tab","label":"Main","disabled":false,"info":""},{"id":"e8c3d708.88e388","type":"tab","label":"SQLite","disabled":false,"info":""},{"id":"bb26d6aa.222e78","type":"tab","label":"FileSystem Manage","disabled":false,"info":""},{"id":"747ec74a.fda668","type":"tab","label":"Zona de Testes","disabled":false,"info":""},{"id":"cefd3952.a4c248","type":"postgresDB","name":"ConexaoDBTest_1","host":"host.docker.internal","port":"5432","database":"test_1","ssl":false,"max":"10","min":1,"idle":"1000"},{"id":"abe3be78.f1d81","type":"postgresdb","hostname":"localhost","port":"5432","db":"test_1","ssl":false},{"id":"290b1e60.9961e2","type":"sqlitedb","db":"/data/weather.db","mode":"RWC"},{"id":"d5905bc0.b52948","type":"sqlitedb","db":"/data/traffic.db","mode":"RWC"},{"id":"9444f7ae.764cd8","type":"inject","z":"4f08c7ab.f0df68","name":"","props":[{"p":"payload"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SELECT * FROM \"spatial_ref_sys\" LIMIT 5;","payloadType":"str","x":110,"y":140,"wires":[["ff23b1e.d96145"]]},{"id":"ff23b1e.d96145","type":"http request","z":"4f08c7ab.f0df68","name":"Prev5Dias","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1110600.json","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":140,"wires":[["1c14f34b.c0409d","ed14020e.ccd5c"]]},{"id":"ed14020e.ccd5c","type":"debug","z":"4f08c7ab.f0df68","name":"IPMA Prev5Dias","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":80,"wires":[]},{"id":"e326a1e7.c2f05","type":"http request","z":"4f08c7ab.f0df68","name":"ObsvEstacoes","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.ipma.pt/open-data/observation/meteorology/stations/observations.json","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":200,"wires":[["b54de0ec.b4df4"]]},{"id":"9dc29cde.f2c33","type":"inject","z":"4f08c7ab.f0df68","name":"","props":[{"p":"payload"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SELECT * FROM \"spatial_ref_sys\" LIMIT 5;","payloadType":"str","x":110,"y":200,"wires":[["e326a1e7.c2f05"]]},{"id":"b5f4f1de.59e3c","type":"debug","z":"4f08c7ab.f0df68","name":"IPMA ObsvEstacoes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":260,"wires":[]},{"id":"b54de0ec.b4df4","type":"function","z":"4f08c7ab.f0df68","name":"Filtro Estacoes","func":"for (var item in msg.payload) {\n    for (var codigo in msg.payload[item]){\n        if(codigo != 1200535 && codigo != 1200579 && codigo != 1210762){\n            delete msg.payload[item][codigo]\n        }\n    }\n}\n/*\nfunction filterById(items, key) {\n    return Object.keys(items).reduce((aggr, curr) => {\n        const keys = Object.keys(items[curr]).filter(k => k === key);\n\n        keys.length && (aggr[curr] = keys);\n    return aggr;\n    }, {});\n};\n\nconst filtered = filterById(msg.payload, \"1200535\");\nmsg.payload = filtered;\n*/\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":200,"wires":[["b5f4f1de.59e3c","812b84dd.51e668"]]},{"id":"922b3a67.8ecd38","type":"inject","z":"4f08c7ab.f0df68","name":"","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SELECT * FROM \"spatial_ref_sys\" LIMIT 5;","payloadType":"str","x":90,"y":460,"wires":[["1dcd26e0.04bb99"]]},{"id":"83a87681.3fe5f8","type":"http request","z":"4f08c7ab.f0df68","name":"Jams","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://emel.city-platform.com/opendata/traffic/waze/jams/list","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":460,"wires":[["2f5f707e.89098","a9dc331.506cdd"]]},{"id":"2f5f707e.89098","type":"debug","z":"4f08c7ab.f0df68","name":"Waze Jams","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":420,"wires":[]},{"id":"1dcd26e0.04bb99","type":"function","z":"4f08c7ab.f0df68","name":"Headers - api_key","func":"msg.headers={};\nmsg.headers[\"api_key\"]=\"edffc8e06cd96c2e9fc6c09671d4e55f\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":460,"wires":[["83a87681.3fe5f8"]]},{"id":"cf9d6d99.9290e","type":"sqlite","z":"4f08c7ab.f0df68","mydb":"290b1e60.9961e2","sqlquery":"msg.topic","sql":"INSERT INTO prevWeatherData(requestData, payload)\nvalues(new Date().toISOString());\n\nCREATE TABLE IF NOT EXISTS weatherData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate timestamp not null, \n    payload JSON\n);\n\nCREATE TABLE IF NOT EXISTS prevWeatherData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate timestamp not null, \n    payload JSON\n);","name":"TABLE prevWeatherData","x":750,"y":140,"wires":[[]]},{"id":"1c14f34b.c0409d","type":"function","z":"4f08c7ab.f0df68","name":"INSERT INTO","func":"\nmsg.topic = \"INSERT INTO prevWeatherData('payload') values ('\" + JSON.stringify(msg.payload) + \"');\";\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":140,"wires":[["cf9d6d99.9290e"]]},{"id":"2dda003e.8f849","type":"sqlite","z":"e8c3d708.88e388","mydb":"290b1e60.9961e2","sqlquery":"fixed","sql":"CREATE TABLE IF NOT EXISTS weatherData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate TIMESTAMP DEFAULT CURRENT_TIMESTAMP, \n    payload JSON\n);","name":"CREATE TABLE weatherData","x":300,"y":100,"wires":[["ab94852f.2ca128"]]},{"id":"c9207749.0abfc8","type":"sqlite","z":"e8c3d708.88e388","mydb":"290b1e60.9961e2","sqlquery":"fixed","sql":"SELECT * FROM weatherData;","name":"SELECT weatherData","x":580,"y":140,"wires":[["2791df5d.1d285"]]},{"id":"2791df5d.1d285","type":"debug","z":"e8c3d708.88e388","name":"Select weatherData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":140,"wires":[],"info":"Para verificar conteudo das tabelas."},{"id":"9561d8f8.0aad88","type":"sqlite","z":"e8c3d708.88e388","mydb":"290b1e60.9961e2","sqlquery":"fixed","sql":"SELECT * FROM prevWeatherData;","name":"SELECT prevWeatherData","x":600,"y":180,"wires":[["f75fbba5.df91f8"]]},{"id":"c0a4c2e4.e8936","type":"sqlite","z":"e8c3d708.88e388","mydb":"290b1e60.9961e2","sqlquery":"fixed","sql":"DROP TABLE weatherData;","name":"DROP weatherData","x":290,"y":260,"wires":[["17f47881.6135e7"]]},{"id":"fc5c4353.368ae","type":"inject","z":"e8c3d708.88e388","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":260,"wires":[["c0a4c2e4.e8936"]]},{"id":"ab94852f.2ca128","type":"sqlite","z":"e8c3d708.88e388","mydb":"290b1e60.9961e2","sqlquery":"fixed","sql":"CREATE TABLE IF NOT EXISTS prevWeatherData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate TIMESTAMP DEFAULT CURRENT_TIMESTAMP, \n    payload text\n);","name":"CREATE TABLE prevWeatherDAta","x":280,"y":160,"wires":[["c9207749.0abfc8","9561d8f8.0aad88"]]},{"id":"17f47881.6135e7","type":"sqlite","z":"e8c3d708.88e388","mydb":"290b1e60.9961e2","sqlquery":"fixed","sql":"DROP TABLE prevWeatherData;","name":"DROP prevWeatherData","x":510,"y":260,"wires":[[]]},{"id":"643b6508.06214c","type":"postgrestor","z":"747ec74a.fda668","name":"","query":"SELECT * FROM \"spatial_ref_sys\" LIMIT 5;","postgresDB":"cefd3952.a4c248","output":true,"outputs":1,"x":110,"y":440,"wires":[["fef7ee12.62dc9","cb2faca3.fba62"]]},{"id":"fef7ee12.62dc9","type":"debug","z":"747ec74a.fda668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":440,"wires":[]},{"id":"cb2faca3.fba62","type":"file","z":"747ec74a.fda668","name":"","filename":"dadosTeste.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":300,"y":480,"wires":[[]]},{"id":"acc7280f.abddf8","type":"inject","z":"4f08c7ab.f0df68","name":"","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SELECT * FROM \"spatial_ref_sys\" LIMIT 5;","payloadType":"str","x":90,"y":560,"wires":[["ac325ea9.c571a"]]},{"id":"918a1c5d.623c4","type":"http request","z":"4f08c7ab.f0df68","name":"Irregularities","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://emel.city-platform.com/opendata/traffic/waze/irregularities/list","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":560,"wires":[["6900eca9.328c04","c3cf8134.bc8cd"]]},{"id":"6900eca9.328c04","type":"debug","z":"4f08c7ab.f0df68","name":"Waze Irregularities","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":520,"wires":[]},{"id":"ac325ea9.c571a","type":"function","z":"4f08c7ab.f0df68","name":"Headers api_key","func":"msg.headers={};\nmsg.headers[\"api_key\"]=\"edffc8e06cd96c2e9fc6c09671d4e55f\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":560,"wires":[["918a1c5d.623c4"]]},{"id":"812b84dd.51e668","type":"function","z":"4f08c7ab.f0df68","name":"INSERT INTO","func":"\nmsg.topic = \"INSERT INTO weatherData('payload') values ('\" + JSON.stringify(msg.payload) + \"');\";\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":200,"wires":[["3c56b55a.21e4ea"]]},{"id":"3c56b55a.21e4ea","type":"sqlite","z":"4f08c7ab.f0df68","mydb":"290b1e60.9961e2","sqlquery":"msg.topic","sql":"INSERT INTO prevWeatherData(requestData, payload)\nvalues(new Date().toISOString());\n\nCREATE TABLE IF NOT EXISTS weatherData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate timestamp not null, \n    payload JSON\n);\n\nCREATE TABLE IF NOT EXISTS prevWeatherData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate timestamp not null, \n    payload JSON\n);","name":"TABLE weatherData","x":860,"y":200,"wires":[[]]},{"id":"f75fbba5.df91f8","type":"debug","z":"e8c3d708.88e388","name":"Select prevWeatherData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":180,"wires":[],"info":"Para verificar conteudo das tabelas."},{"id":"f8951288.57a72","type":"comment","z":"e8c3d708.88e388","name":"### DB - weather.db  ###","info":"","x":530,"y":40,"wires":[]},{"id":"6020eabf.924f44","type":"comment","z":"e8c3d708.88e388","name":"### DB - traffic.db ###","info":"","x":520,"y":380,"wires":[]},{"id":"d2f3b2e1.34ea4","type":"comment","z":"4f08c7ab.f0df68","name":"### PEDIDOS WEATHER ###","info":"","x":560,"y":40,"wires":[]},{"id":"d102f2aa.d2326","type":"comment","z":"4f08c7ab.f0df68","name":"### PEDIDOS TRAFFIC ###","info":"","x":540,"y":380,"wires":[]},{"id":"eb6744b6.f76ee8","type":"inject","z":"4f08c7ab.f0df68","name":"","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SELECT * FROM \"spatial_ref_sys\" LIMIT 5;","payloadType":"str","x":90,"y":660,"wires":[["400b8107.53f0e"]]},{"id":"9b3e06d3.0566d8","type":"http request","z":"4f08c7ab.f0df68","name":"Closures","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://emel.city-platform.com/opendata/traffic/closures/list","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":660,"wires":[["587c1850.f24858","bf1758a4.a3e078"]]},{"id":"587c1850.f24858","type":"debug","z":"4f08c7ab.f0df68","name":"Closures","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":620,"wires":[]},{"id":"400b8107.53f0e","type":"function","z":"4f08c7ab.f0df68","name":"Headers api_key","func":"msg.headers={};\nmsg.headers[\"api_key\"]=\"edffc8e06cd96c2e9fc6c09671d4e55f\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":660,"wires":[["9b3e06d3.0566d8"]]},{"id":"62fcc57f.c622ac","type":"sqlite","z":"e8c3d708.88e388","mydb":"d5905bc0.b52948","sqlquery":"fixed","sql":"CREATE TABLE IF NOT EXISTS jamsData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate TIMESTAMP DEFAULT CURRENT_TIMESTAMP, \n    payload JSON\n);","name":"CREATE TABLE jamsData","x":290,"y":440,"wires":[["8c332df5.9935c"]]},{"id":"83bd6502.7f64f8","type":"inject","z":"e8c3d708.88e388","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":440,"wires":[["62fcc57f.c622ac"]]},{"id":"2f2c5d9d.abee62","type":"sqlite","z":"e8c3d708.88e388","mydb":"d5905bc0.b52948","sqlquery":"fixed","sql":"SELECT * FROM jamsData;","name":"SELECT jamsData","x":570,"y":520,"wires":[["87834e56.9cbdc"]]},{"id":"87834e56.9cbdc","type":"debug","z":"e8c3d708.88e388","name":"Select jamsData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":520,"wires":[],"info":"Para verificar conteudo das tabelas."},{"id":"f122ecb3.2a332","type":"sqlite","z":"e8c3d708.88e388","mydb":"d5905bc0.b52948","sqlquery":"fixed","sql":"SELECT * FROM irregularitiesData;","name":"SELECT irregularitiesData","x":590,"y":560,"wires":[["5499fe53.bb697"]]},{"id":"8c332df5.9935c","type":"sqlite","z":"e8c3d708.88e388","mydb":"d5905bc0.b52948","sqlquery":"fixed","sql":"CREATE TABLE IF NOT EXISTS irregularitiesData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate TIMESTAMP DEFAULT CURRENT_TIMESTAMP, \n    payload JSON\n);","name":"CREATE TABLE irregularitiesData","x":260,"y":500,"wires":[["bc97fd28.f1f08"]]},{"id":"5499fe53.bb697","type":"debug","z":"e8c3d708.88e388","name":"Select irregularitiesData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":560,"wires":[],"info":"Para verificar conteudo das tabelas."},{"id":"bc97fd28.f1f08","type":"sqlite","z":"e8c3d708.88e388","mydb":"d5905bc0.b52948","sqlquery":"fixed","sql":"CREATE TABLE IF NOT EXISTS closuresData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate TIMESTAMP DEFAULT CURRENT_TIMESTAMP, \n    payload JSON\n);","name":"CREATE TABLE closuresData","x":250,"y":560,"wires":[["2f2c5d9d.abee62","f122ecb3.2a332","afb0b803.af9658"]]},{"id":"afb0b803.af9658","type":"sqlite","z":"e8c3d708.88e388","mydb":"d5905bc0.b52948","sqlquery":"fixed","sql":"SELECT * FROM closuresData;","name":"SELECT closuresData","x":580,"y":600,"wires":[["af2a74c4.716268"]]},{"id":"af2a74c4.716268","type":"debug","z":"e8c3d708.88e388","name":"Select closuresData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":600,"wires":[],"info":"Para verificar conteudo das tabelas."},{"id":"4ffce3b3.66308c","type":"sqlite","z":"e8c3d708.88e388","mydb":"d5905bc0.b52948","sqlquery":"fixed","sql":"DROP TABLE jamsData;","name":"DROP jamsData","x":280,"y":660,"wires":[["4ba3710f.91e"]]},{"id":"5a0525de.f7c9ec","type":"inject","z":"e8c3d708.88e388","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":660,"wires":[["4ffce3b3.66308c"]]},{"id":"b368b63b.154268","type":"inject","z":"e8c3d708.88e388","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":100,"wires":[["2dda003e.8f849"]]},{"id":"4ba3710f.91e","type":"sqlite","z":"e8c3d708.88e388","mydb":"d5905bc0.b52948","sqlquery":"fixed","sql":"DROP TABLE irregularitiesData;","name":"DROP irregularitiesData","x":510,"y":660,"wires":[["e5e46db0.f5344"]]},{"id":"e5e46db0.f5344","type":"sqlite","z":"e8c3d708.88e388","mydb":"d5905bc0.b52948","sqlquery":"fixed","sql":"DROP TABLE closuresData;","name":"DROP closuresData","x":760,"y":660,"wires":[[]]},{"id":"ec452f1c.85c4d","type":"sqlite","z":"4f08c7ab.f0df68","mydb":"d5905bc0.b52948","sqlquery":"msg.topic","sql":"INSERT INTO prevWeatherData(requestData, payload)\nvalues(new Date().toISOString());\n\nCREATE TABLE IF NOT EXISTS weatherData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate timestamp not null, \n    payload JSON\n);\n\nCREATE TABLE IF NOT EXISTS prevWeatherData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate timestamp not null, \n    payload JSON\n);","name":"TABLE jamsData","x":790,"y":460,"wires":[[]]},{"id":"a9dc331.506cdd","type":"function","z":"4f08c7ab.f0df68","name":"INSERT INTO","func":"msg.topic = \"INSERT INTO jamsData('payload') values ('\" + JSON.stringify(msg.payload).replace(/'/g,' ') + \"');\";\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":460,"wires":[["ec452f1c.85c4d"]]},{"id":"9b18687a.6e95f8","type":"sqlite","z":"4f08c7ab.f0df68","mydb":"d5905bc0.b52948","sqlquery":"msg.topic","sql":"INSERT INTO prevWeatherData(requestData, payload)\nvalues(new Date().toISOString());\n\nCREATE TABLE IF NOT EXISTS weatherData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate timestamp not null, \n    payload JSON\n);\n\nCREATE TABLE IF NOT EXISTS prevWeatherData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate timestamp not null, \n    payload JSON\n);","name":"TABLE irregularitiesData","x":850,"y":560,"wires":[[]]},{"id":"c3cf8134.bc8cd","type":"function","z":"4f08c7ab.f0df68","name":"INSERT INTO","func":"msg.topic = \"INSERT INTO irregularitiesData('payload') values ('\" + JSON.stringify(msg.payload).replace(/'/g,' ') + \"');\";\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":560,"wires":[["9b18687a.6e95f8"]]},{"id":"bf1758a4.a3e078","type":"function","z":"4f08c7ab.f0df68","name":"INSERT INTO","func":"msg.topic = \"INSERT INTO closuresData('payload') values ('\" + JSON.stringify(msg.payload).replace(/'/g,' ') + \"');\";\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":660,"wires":[["4b8f6d32.296274"]]},{"id":"4b8f6d32.296274","type":"sqlite","z":"4f08c7ab.f0df68","mydb":"d5905bc0.b52948","sqlquery":"msg.topic","sql":"INSERT INTO prevWeatherData(requestData, payload)\nvalues(new Date().toISOString());\n\nCREATE TABLE IF NOT EXISTS weatherData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate timestamp not null, \n    payload JSON\n);\n\nCREATE TABLE IF NOT EXISTS prevWeatherData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate timestamp not null, \n    payload JSON\n);","name":"TABLE closuresData","x":840,"y":660,"wires":[[]]},{"id":"bd722241.697f4","type":"function","z":"747ec74a.fda668","name":"Get Global (dbname)","func":"msg.payload = this.context.global.get(\"dbname\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":540,"wires":[["fd0f5f48.d80a8"]]},{"id":"8ca8633c.c2f09","type":"inject","z":"747ec74a.fda668","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":540,"wires":[["bd722241.697f4"]]},{"id":"fd0f5f48.d80a8","type":"debug","z":"747ec74a.fda668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":540,"wires":[]},{"id":"ad8b6946.c6f658","type":"inject","z":"747ec74a.fda668","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":600,"wires":[["3a4cb572.b57dea"]]},{"id":"3a4cb572.b57dea","type":"function","z":"747ec74a.fda668","name":"Set global dbname","func":"context.global.set(\"dbname\", \"/data/haha.db\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":600,"wires":[["9adf4657.cb1ab8"]]},{"id":"9adf4657.cb1ab8","type":"debug","z":"747ec74a.fda668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":600,"wires":[]},{"id":"cf4bfea5.99b7e","type":"inject","z":"747ec74a.fda668","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":120,"wires":[["a97b37f1.1449d8"]]},{"id":"a97b37f1.1449d8","type":"function","z":"747ec74a.fda668","name":"GetCurrentWeek - 1","func":"let now = new Date();\nlet onejan = new Date(now.getFullYear(), 0, 1);\nlet week = Math.ceil( (((now.getTime() - onejan.getTime()) / 86400000) + onejan.getDay() + 1) / 7 );\nmsg.payload= week - 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":120,"wires":[["b9027340.b7824"]]},{"id":"b9027340.b7824","type":"debug","z":"747ec74a.fda668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"61fb7f1d.3c5ea","type":"inject","z":"747ec74a.fda668","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":180,"wires":[["f8423041.7aa0f"]]},{"id":"f8423041.7aa0f","type":"function","z":"747ec74a.fda668","name":"Create Directory","func":"const fs = global.get('fsModule');\nlet dirpath = \"/data/newDir/2020/Semana\";\nfs.mkdir(dirpath, {recursive: true}, err => {})\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":180,"wires":[[]]},{"id":"498b7d7d.418ff4","type":"inject","z":"747ec74a.fda668","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":300,"wires":[["46bb1436.1f722c"]]},{"id":"46bb1436.1f722c","type":"function","z":"747ec74a.fda668","name":"Move File (n uso)","func":"const fs = global.get('fsModule');\nlet oldPath = \"/data/weather.db\";\nlet newPath = \"/data/newDir/2020/Semana/weather.db\";\nfs.rename(oldPath, newPath, err => {})\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":300,"wires":[[]]},{"id":"d377f03a.bd71","type":"inject","z":"747ec74a.fda668","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":240,"wires":[["4574647e.a7485c"]]},{"id":"4574647e.a7485c","type":"function","z":"747ec74a.fda668","name":"Copy File","func":"const fs = global.get('fsModule');\nlet oldPath = \"/data/weather.db\";\nlet newPath = \"/data/newDir/2020/Semana/weather.db\";\nfs.copyFile(oldPath, newPath, err => {})\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":240,"wires":[[]]},{"id":"8c4929d1.a570e8","type":"inject","z":"bb26d6aa.222e78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":180,"wires":[["86c933d6.7fa99"]]},{"id":"86c933d6.7fa99","type":"function","z":"bb26d6aa.222e78","name":"GetCurrentWeek - 1","func":"let now = new Date();\nlet onejan = new Date(now.getFullYear(), 0, 1);\nlet week = Math.ceil( (((now.getTime() - onejan.getTime()) / 86400000) + onejan.getDay() + 1) / 7 );\nmsg.week= week - 1;\nmsg.year = now.getFullYear();\n\n//ZONA TESTE\nmsg.hour = now.getHours();\nmsg.minute = now.getMinutes();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":180,"wires":[["7ebe6802.0bddc8"]]},{"id":"7ebe6802.0bddc8","type":"function","z":"bb26d6aa.222e78","name":"Create Directory","func":"const fs = global.get('fsModule');\n\nlet pathWeather = \"/data/weather/\" + msg.year + \"/\" + msg.week;\nlet pathTraffic = \"/data/traffic/\" + msg.year + \"/\" + msg.week;\npathWeather = \"/data/weather/\" + msg.year + \"/\" + msg.minute;//todel\npathTraffic = \"/data/traffic/\" + msg.year + \"/\" + msg.minute;//todel\nfs.mkdir(pathWeather, {recursive: true}, err => {})\nfs.mkdir(pathTraffic, {recursive: true}, err => {})\nmsg.pathWeather = pathWeather;\nmsg.pathTraffic = pathTraffic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":180,"wires":[["7533af2.b9c3f5"]]},{"id":"44907a66.dd84e4","type":"function","z":"bb26d6aa.222e78","name":"Copy File","func":"const fs = global.get('fsModule');\nlet oldPathWeather = \"/data/weather.db\";\nlet oldPathTraffic = \"/data/traffic.db\";\nlet newPathWeather = msg.pathWeather + \"/_weather.db\";\nlet newPathTraffic = msg.pathTraffic + \"/_traffic.db\";\n\n//move\n//fs.rename(oldPathWeather, newPathWeather, err => {})\n//fs.rename(oldPathTraffic, newPathTraffic, err => {})\n\n//copy\nfs.copyFile(oldPathWeather, newPathWeather, err => {})\nfs.copyFile(oldPathTraffic, newPathTraffic, err => {})\n\nmsg.newPathWeather = newPathWeather;\nmsg.newPathTraffic = newPathTraffic;\nmsg.oldPathWeather = oldPathWeather;\nmsg.oldPathTraffic = oldPathTraffic;\n\n//Remover ficheiro\n\n//fs.unlink(oldPathWeather, err => {});\n//fs.unlink(oldPathTraffic, err => {});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":180,"wires":[["34683bdb.537a34","770a2a2a.9d6fd4"]]},{"id":"34683bdb.537a34","type":"debug","z":"bb26d6aa.222e78","name":"DirectoryDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":120,"wires":[]},{"id":"770a2a2a.9d6fd4","type":"sqlite","z":"bb26d6aa.222e78","mydb":"290b1e60.9961e2","sqlquery":"fixed","sql":"DROP TABLE weatherData;","name":"DROP weatherData","x":250,"y":280,"wires":[["9289f779.b17808"]]},{"id":"9289f779.b17808","type":"sqlite","z":"bb26d6aa.222e78","mydb":"290b1e60.9961e2","sqlquery":"fixed","sql":"DROP TABLE prevWeatherData;","name":"DROP prevWeatherData","x":470,"y":280,"wires":[["792b7d95.204d14"]]},{"id":"792b7d95.204d14","type":"sqlite","z":"bb26d6aa.222e78","mydb":"d5905bc0.b52948","sqlquery":"fixed","sql":"DROP TABLE jamsData;","name":"DROP jamsData","x":220,"y":340,"wires":[["88b3678.665b098"]]},{"id":"88b3678.665b098","type":"sqlite","z":"bb26d6aa.222e78","mydb":"d5905bc0.b52948","sqlquery":"fixed","sql":"DROP TABLE irregularitiesData;","name":"DROP irregularitiesData","x":450,"y":340,"wires":[["42f56ec.1a1c59"]]},{"id":"42f56ec.1a1c59","type":"sqlite","z":"bb26d6aa.222e78","mydb":"d5905bc0.b52948","sqlquery":"fixed","sql":"DROP TABLE closuresData;","name":"DROP closuresData","x":700,"y":340,"wires":[["ef5575a6.563448"]]},{"id":"6edcaa2a.d159b4","type":"sqlite","z":"bb26d6aa.222e78","mydb":"290b1e60.9961e2","sqlquery":"fixed","sql":"CREATE TABLE IF NOT EXISTS weatherData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate TIMESTAMP DEFAULT CURRENT_TIMESTAMP, \n    payload JSON\n);","name":"CREATE TABLE weatherData","x":220,"y":460,"wires":[["95eb182f.2339b8"]]},{"id":"95eb182f.2339b8","type":"sqlite","z":"bb26d6aa.222e78","mydb":"290b1e60.9961e2","sqlquery":"fixed","sql":"CREATE TABLE IF NOT EXISTS prevWeatherData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate TIMESTAMP DEFAULT CURRENT_TIMESTAMP, \n    payload text\n);","name":"CREATE TABLE prevWeatherDAta","x":520,"y":460,"wires":[["baf368bc.2b6b78"]]},{"id":"baf368bc.2b6b78","type":"sqlite","z":"bb26d6aa.222e78","mydb":"d5905bc0.b52948","sqlquery":"fixed","sql":"CREATE TABLE IF NOT EXISTS jamsData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate TIMESTAMP DEFAULT CURRENT_TIMESTAMP, \n    payload JSON\n);","name":"CREATE TABLE jamsData","x":210,"y":520,"wires":[["710a5cef.bf80a4"]]},{"id":"710a5cef.bf80a4","type":"sqlite","z":"bb26d6aa.222e78","mydb":"d5905bc0.b52948","sqlquery":"fixed","sql":"CREATE TABLE IF NOT EXISTS irregularitiesData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate TIMESTAMP DEFAULT CURRENT_TIMESTAMP, \n    payload JSON\n);","name":"CREATE TABLE irregularitiesData","x":520,"y":520,"wires":[["21ac9dd5.89ec22"]]},{"id":"21ac9dd5.89ec22","type":"sqlite","z":"bb26d6aa.222e78","mydb":"d5905bc0.b52948","sqlquery":"fixed","sql":"CREATE TABLE IF NOT EXISTS closuresData(\n    key INTEGER PRIMARY KEY AUTOINCREMENT, \n    requestDate TIMESTAMP DEFAULT CURRENT_TIMESTAMP, \n    payload JSON\n);","name":"CREATE TABLE closuresData","x":830,"y":520,"wires":[[]]},{"id":"7533af2.b9c3f5","type":"delay","z":"bb26d6aa.222e78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":220,"wires":[["44907a66.dd84e4"]]},{"id":"ef5575a6.563448","type":"delay","z":"bb26d6aa.222e78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":400,"wires":[["6edcaa2a.d159b4"]]}]